
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/assets/icon1/1x/wireframe.png" />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="~/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <link href="~/assets/css/font-awesome.css" rel="stylesheet" />
    <link href="~/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="~/assets/css/argon-design-system.css?v=1.2.2" rel="stylesheet" />
    <link href="~/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">



</head>

<script src="~/assets/js/jquery.min.js"></script>
<script src="~/assets/scripts/bootstrap.min.js"></script>

<body>

    <!--navbar-->

    <header class="navbar navbar-horizontal navbar-expand navbar-dark flex-row align-items-md-center ct-navbar bg-primary py-2">
        <a class="navbar-brand mr-0 mr-md-2" href="#" aria-label="Bootstrap">
            <img src="~/assets/img/brand/himg.png">
            <sup>Management Portal</sup>
        </a>
        <ul class="navbar-nav flex-row mr-auto ml-4 d-none d-md-flex">
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/creativetimofficial/ct-argon-design-system-pro/issues" rel="nofollow" target="_blank">Help</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" rel="nofollow">
                    <img src="~/assets/icon1/1x/cycle.png" width="18" />
                </a>
            </li>
        </ul>
        <!--setting&account-->
        <div class="d-none d-sm-block ml-auto">
            <ul class="navbar-nav ct-navbar-nav flex-row align-items-center">
                <li class="nav-item">
                    <!--<a class="nav-link nav-link-icon" href="https://github.com/creativetimofficial" rel="nofollow" target="_blank">
                      <i class="fab fa-github"></i>
                    </a>-->
                    <a href="javascript:;" class="avatar avatar-sm rounded-circle">
                        <img alt="Image placeholder" src="~/assets/img/faces/team-3.jpg">
                    </a>
                </li>
            </ul>
        </div>
        <button class="navbar-toggler ct-search-docs-toggle d-block d-md-none ml-auto ml-sm-0" type="button" data-toggle="collapse" data-target="#ct-docs-nav" aria-controls="ct-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </header>




    <!-- left-navbar&content-->

    <div class="container-fluid">
        <div class="row flex-xl-nowrap">
            <div class="col-12 col-md-3 col-xl-2 ct-sidebar">
                <nav class="collapse ct-links" id="ct-docs-nav">
                    <div class="ct-toc-item active">

                        <a class="ct-toc-link" href="#docs">
                            <img src="~/assets/icon1/1x/person_search.png" width="22" />
                            Patient Management
                        </a>
                        <ul class="nav ct-sidenav" style="margin-left: 25;">
                            <li class="">
                                <!--"active ct-sidenav-active"-->
                                <a href="~/docs/getting-started/overview.html">
                                    Patients
                                </a>
                            </li>
                            <li class="">
                                <a href="~/docs/getting-started/download.html">
                                    Appointments(OPD)
                                </a>
                            </li>
                            <li class="">
                                <a href="~/docs/getting-started/quick-start.html">
                                    Hospitalization
                                </a>
                            </li>
                            <li class="active ct-sidenav-active">
                                <a href="~/docs/getting-started/quick-start.html">
                                    Rooms
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="ct-toc-item active">
                        <a class="ct-toc-link" href="#docs">
                            <img src="~/assets/icon1/1x/camera-2.png" width="19" />
                            Laboratory  Management
                        </a>
                        <ul class="nav ct-sidenav" style="margin-left: 25;">
                            <li class="">
                                <a href="~/docs/foundation/colors.html">
                                    Tests
                                </a>
                            </li>
                            <li class="">
                                <a href="~/docs/foundation/grid.html">
                                    Lab Reports
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="ct-toc-item active">
                        <a class="ct-toc-link" href="#docs">
                            <img src="~/assets/icon1/1x/doc.png" width="18" />
                            Doctor  Management
                        </a>
                        <ul class="nav ct-sidenav" style="margin-left: 25;">
                            <li class="">
                                <a href="~/docs/foundation/colors.html">
                                    Doctors
                                </a>
                            </li>
                            <li class="">
                                <a href="~/docs/foundation/grid.html">
                                    Appointments(OPD)
                                </a>
                            </li>
                            <li class="">
                                <a href="~/docs/foundation/grid.html">
                                    Hospitalization
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="ct-toc-item active">
                        <a class="ct-toc-link" href="#docs">
                            <img src="~/assets/icon1/1x/coronavirus.png" width="25" />
                            COVID-19 [new]
                        </a>
                        <ul class="nav ct-sidenav" style="margin-left: 25;">
                            <li class="">
                                <a href="~/docs/foundation/colors.html">
                                    Vaccination
                                </a>
                            </li>
                            <li class="">
                                <a href="~/docs/foundation/grid.html">
                                    Tests
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="ct-toc-item active">
                        <a class="ct-toc-link" href="#docs">
                            <img src="~/assets/icon1/1x/statistics.png" width="24" />
                            MIS Reports
                        </a>
                        <ul class="nav ct-sidenav" style="margin-left: 25;">
                            <li class="">
                                <a href="~/docs/foundation/colors.html">
                                    Report 1
                                </a>
                            </li>
                            <li class="">
                                <a href="~/docs/foundation/grid.html">
                                    Report 1
                                </a>
                            </li>
                        </ul>
                    </div>

                    </ul>
            </div>
            </nav>
            <div class="col-md-9">

                @RenderBody()
            </div>
        </div>


    </div>

</body>
</html>