
@{
    ViewData["Controller"] = "Room";
    ViewBag.Title = "HMS Dashboard - Room";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- breadcrumb-->

<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Patient Management</a></li>
        <li class="breadcrumb-item"><a href="#">Rooms</a></li>
        <li class="breadcrumb-item active" aria-current="page">List of Rooms</li>
    </ol>
</nav>


@{Html.RenderAction("List");
}

